body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 30px;
}

.projects {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  min-width: 250px;
}
.project-card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}