.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #222;
  color: white;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}
.nav-links a:hover {
  color: #00bcd4;
}
html {
  scroll-behavior: smooth;
}

section {
  padding: 60px 0;
}

h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

p {
  line-height: 1.6;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .projects {
    flex-direction: column;
  }

  .container {
    padding: 10px;
  }

  h1 {
    font-size: 28px;
  }

}

section { 
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
}
}

.project-card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.dark-mode {
  background-color: #121212;
  color: white;
}

a{ 
  display: inline-block;
  margin-top: 10px;
  color: #00bcd4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}